.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #f5f5f5;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #333;
}
.nav-side-menu .brand {
  background-color: #f5f5f5;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #008cba;
  background-color: #fbfbfb;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #008cba;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #008cba;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #fbfbfb;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #ddd;
  margin-left: 0px;
  display: table;
    width: 100%;
    height: 100%;
}
.nav-side-menu ul .sub-menu li a,
.nav-side-menu li .sub-menu li a {
    display:table-cell;
    padding-left: 20px;
}
.nav-side-menu ul .sub-menu li a i,
.nav-side-menu li .sub-menu li a i {
  padding-left: 0;
  width: auto;
  padding-right: 5px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  /*background-color: #f5f5f5;*/
  color:#d19b3d!important;
}
/*.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}*/
.nav-side-menu li {
  padding-left: 20px;
  border-left: 3px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #333;
}
.nav-side-menu ul li:hover {
    color:#008cba!important;
}
.nav-side-menu ul li a {
    color:inherit;
}
.nav-side-menu li a {
  text-decoration: none;
  color: inherit;
}
.nav-side-menu li a:hover {
  text-decoration: none;
  color:#008cba!important;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #008cba;
  color:#008cba!important;
  /*background-color: #f5f5f5;*/
  /*-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;*/
}
#menu-content li:hover {
    color:#008cba!important;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
