body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:#5e5e5e;
    /*background-color:#F9F9F9;*/
    background-color:#ffffff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.nav-side-menu {
    margin-top:60px;
}
.main-content {
    margin-left:300px;
    margin-top: 60px;
    padding:20px;
}
.navbar-fixed-top {
    /*font-size: medium;*/
    /*background-color: white;*/
    box-shadow: 0 0 4px rgba(0,0,0,.35);
    /*font-family: 'Ubuntu', sans-serif;*/
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Lora', serif;
    font-size: 18px;
    /*background-image: url('http://www.noqta.it/dromoscopio/img/pattern_09.gif');*/
    /*background-image: url('http://www.noqta.it/dromoscopio/img/pattern_04.gif');*/
}
/*.navbar-fixed-top>.container>.navbar-collapse a:hover {
    background-color:lightblue;
}*/
.navbar-fixed-top>.container>.navbar-header a:hover {
    /*color:black;*/
}

.navbar-fixed-top>.container {
    background-color: #43BFC7;
    padding-left:0;
}
.navbar-header {
    height:100%;
}
.navbar-inverse .navbar-nav > li > a {
    /*color: #7fc7af;*/
}
.navbar-inverse .navbar-brand {
    /*color: #5e5e5e;*/
    font-size: xx-large;
}
.gw-nav-list>li .gw-submenu>li.active>a {
    color:#7fc7af;
}
.gw-nav-list>li .gw-submenu>li.active:after {
    border: 2px solid #7fc7af;
}
.container {
    /*height: 75px;*/
    margin-top:0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left:0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.navbar-collapse {
    margin-top:10px;
}
.shop-logo {
    position:relative;
    height:60px;
    width:300px;
}
.nav-side-menu .brand {
    display:none!important;
}

@media (max-width: 900px) {
    .navbar-fixed-top {
        font-size:14px;
    }
}

@media (max-width: 767px) {
    .main-content {
        margin-left:0;
        margin-top: 0;
    }
    .nav-side-menu {
        margin-top: 0;
    }
    .navbar-fixed-top {
        display:none;
    }
    .nav-side-menu .brand {
        visibility:hidden!important;
        display:block!important;
    }
}

#preview {
    position:absolute;
    display:none;
}
.product-list-table>tbody>tr>td,
.cart-table>tbody>tr>td {
    vertical-align:middle;
}
.product-list-table .add-to-cart {
    line-height:1.4;
    padding: 4px 6px;
}
.cart-table .change-product-amount {
    line-height:1.3;
    padding: 4px 4px;
}
.cart-table .remove-from-cart {
    font-size:20px;
}
.product-list-table .product-amount,
.cart-table .product-amount {
    padding: 4px 6px;
    height:26px;
}
.bootstrap-dialog .modal-header {
     border-top-left-radius: 0!important; 
     border-top-right-radius: 0!important; 
}
.main-content > h3 {
    float:right;
    padding-top: 13px;
    padding-left: 10px;
}
.main-content > h1 {
    float:left;
}
.alert-success {
    background-color: #4CC552;
    /*border-color: #54C571;*/
}
#contract-form .control-label {
    text-align:left;
}
.dl-horizontal-text-left dt{
    text-align:left!important;
}
.stock-amount-green { color:green;}

.stock-amount-yellow { color:yellow;}

.stock-amount-red { color:red;}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #90DFE3!important;
}