@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Viinerid</h2>
        <hr />
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Tootekood</th>
                        <th>Nimetus</th>
                        <th>Nimelisa</th>
                        <th>Ühik</th>
                        <th>Hind km'ta</th>
                        <th>Hind km'ga</th>
                        <th>Kogus</th>
                        <th>Pilt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DV18</td>
                        <td>VN 260G VÄIKE VIINER</td>
                        <td>MAKS&MOORITS</td>
                        <td>TK</td>
                        <td>1.10 eur</td>
                        <td>1.32 eur</td>
                        <td>6</td>
                        <td><a href="http://cssglobe.com/lab/tooltip/02/4.jpg" class="preview">pilt</a></td>
                    </tr>
                    <tr>
                        <td>DV18</td>
                        <td>VN 260G VÄIKE VIINER</td>
                        <td>MAKS&MOORITS</td>
                        <td>TK</td>
                        <td>1.10 eur</td>
                        <td>1.32 eur</td>
                        <td>6</td>
                        <td><a href="http://cssglobe.com/lab/tooltip/02/4.jpg" class="preview">pilt</a></td>
                    </tr>
                    <tr>
                        <td>DV18</td>
                        <td>VN 260G VÄIKE VIINER</td>
                        <td>MAKS&MOORITS</td>
                        <td>TK</td>
                        <td>1.10 eur</td>
                        <td>1.32 eur</td>
                        <td>6</td>
                        <td><a href="http://cssglobe.com/lab/tooltip/02/4.jpg" class="preview">pilt</a></td>
                    </tr>
                    <tr>
                        <td>DV18</td>
                        <td>VN 260G VÄIKE VIINER</td>
                        <td>MAKS&MOORITS</td>
                        <td>TK</td>
                        <td>1.10 eur</td>
                        <td>1.32 eur</td>
                        <td>6</td>
                        <td><a href="http://cssglobe.com/lab/tooltip/02/4.jpg" class="preview">pilt</a></td>
                    </tr>
                    <tr>
                        <td>DV18</td>
                        <td>VN 260G VÄIKE VIINER</td>
                        <td>MAKS&MOORITS</td>
                        <td>TK</td>
                        <td>1.10 eur</td>
                        <td>1.32 eur</td>
                        <td>6</td>
                        <td><a href="http://cssglobe.com/lab/tooltip/02/4.jpg" class="preview">pilt</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>