@model IEnumerable<DataLayer.Order>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />

<div class="table-responsive">
    <table class="table table-condensed table-hover product-list-table">
        <thead>
            <tr>
                <th>Tellimuse nr</th>
                <th>Tellitud</th>
                <th>Summa</th>
                <th>Staatus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.OrderNumber, "Details", "Order", new { id = item.Id }, new { hidefocus = "hidefocus" })</td>
                    <td>@Html.DisplayFor(model => item.DateOfOrder)</td>
                    <td>@Html.DisplayFor(model => item.TotalPriceWithVAT) </td>
                    <td>@item.OrderStatu.Status |
                    @if (item.OrderStatu.Status == "Maksmata")
                    {
                       <a href="/Order" data-push="true">Maksan</a>                    
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
